.carousel-item{
    padding: 20px 40px;
}
.bg-3{
    background-image: url(bg-2.png);
    background-repeat: no-repeat;
    
}
.bg-2 {
    background-image: url(bg-1.png);
    background-repeat: no-repeat;
   
  
}
.container{
    margin-bottom: 80px;
}
.buy-now-button{
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    padding: 3px 9px;
    width: 50%;
    position: relative;
    left: 25%;
    bottom: 10px;
}
.p2{
    color: orange;
}
.ss{
    text-align: center;
    position: relative;
    bottom: 5px;
}
.card{
    border: none;
    box-shadow: 10px 10px 20px gray;
 
}
.credit{
    border-radius: 10px;
}
.cat{
    text-align: center;
}
.img1{
    height: 450px;
    width: 450px;
}
.h{
  position: relative;
  left: 25%;
}
.imag{
    box-shadow:5px  5px 5px 5px rgb(219, 219, 231);
    padding-left: 30px;
}
.se{
    background-color: grey;
    border-radius: 5px;
    
}
h4{
    text-align: center;
}
